spring.application.name=
spring.docker.compose.location=

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=

# Liquibase auto-run
spring.liquibase.enabled=true
spring.liquibase.change-log=classpath:db/changelog/db/changelog-master.yaml

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

twitch.clientId=y
twitch.clientSecret=
twitch.username=
twitch.apiBaseUrl=https://api.twitch.tv
twitch.auth-base-url=https://id.twitch.tv
twitch.redirectUri=
twitch.bot.username=

twitch.bot.clientSecret=
twitch.bot.client-id=
twitch.bot.redirectUri=

discord.bot.token=
discord.bot.client-id=
discord.bot.client-secret=
discord.bot.redirect-uri=
discord.bot.permissions=

app.authorized-username=
app.frontend-url=
app.secret.key=

# Logging-Configuration
logging.level.streamer_website.demo.service.twitch.TwitchService=DEBUG
logging.level.streamer_website.demo.repository=INFO
logging.level.org.springframework.web=WARN

server.servlet.session.cookie.same-site=Lax
server.servlet.session.cookie.secure=false

